main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inicio {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.inicio h1 {
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
}

.inicio p {
    font-size: 1.3rem;
}

.inicio img {
    width: 50vw;
    margin-bottom: 10vh;
}

.secao-jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.secao-jogos h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.jogos {
    display: flex;
    gap: 8rem;
}

.jogos img{
    width: 12vw;
    height: 36vh;
    border-radius: 10px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.jogos img:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 10px 2px rgb(150, 150, 150);
}