@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Marcellus&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    background-color: #100e11;
    color: white;
}

header {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    height: 1.4rem;
    transition: transform 0.4s;
    font-size: 1rem;
}

header a:hover, footer a:hover {
    transform: scale(1.10);
}

.jogos-header {
    display: flex;
    gap: 2.5rem;
}

.maior {
    width: 5.8rem;
}

.menor, footer a {
    width: 4rem;
}

footer {
    margin-top: 15vh;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10rem;
}

footer a {
    text-decoration: none;
    color: white;
    height: 1.4rem;
    border-radius: 5px;
    transition: transform 0.4s;
    font-size: 1.2rem; 
    width: 5rem;
}

footer p {
    font-size: 0.8rem;
}